<form #loginpage="ngForm" (ngSubmit)="confirmLogin(loginpage); createUser(loginpage)">
  <div class="center-content">
  <mat-card class="example-card">

    <mat-card-header>
      
      <mat-card-title>Login/Register</mat-card-title>
      <mat-card-subtitle>Insurewave</mat-card-subtitle>
    </mat-card-header>
    
    
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Login"> 
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="loginpage.value.email" matInput placeholder="Email" value="" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            
          </mat-form-field>
          <div *ngIf="!email?.valid && (email?.dirty || email?.touched ) || email.errors?.['pattern']">
          
            <p style="color:red; left:16px ;" >
              *Invalid Email
            </p>
          </div>
            <div *ngIf="email.errors?.['required']">
            <p style="color:red; left:16px ;" >
              *Email Required
            </p>
           
          </div>
        
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" class="form-control" name="password" #password="ngModel" [(ngModel)]="loginpage.value.password" required>
          </mat-form-field>
          <div *ngIf="!password?.valid || password.errors?.['required']">
          
            <p style="color:red; left:16px ;" >
              *Password Required
            </p>

          </div>
          
            <button mat-button color="primary">Login
          </button>
           </mat-tab>
          
        <mat-tab label="Registration">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First Name</mat-label>
            <input type="text" matInput placeholder="First Name" name="firstname" #firstname="ngModel" [(ngModel)]="loginpage.value.firstname" required>
          </mat-form-field>
          <div *ngIf="!firstname?.valid || firstname.errors?.['required']">
          
            <p style="color:red; left:16px ;" >
              *First Name Required
            </p>

          </div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input type="text" matInput placeholder="Last Name" name="lastname" #lastname="ngModel" [(ngModel)]="loginpage.value.lastname" required>
          </mat-form-field>
          <div *ngIf="!lastname?.valid || lastname.errors?.['required']">
          
            <p style="color:red; left:16px ;" >
              *Last Name Required
            </p>

          </div>
          
          <mat-radio-group aria-label="Select Your gender" name="gender" #gender="ngModel" [(ngModel)]="loginpage.value.gender"required>
            <label>Gender:</label><br>
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
            <mat-radio-button value="3">Other</mat-radio-button>


          </mat-radio-group>
        
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" value="" name="email1" #email1="ngModel" [(ngModel)]="loginpage.value.email1" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            
          </mat-form-field>
          <div *ngIf="!email1?.valid && (email1?.dirty || email1?.touched ) || email1.errors?.['pattern']">
          
            <p style="color:red; left:16px ;" >
              *Invalid Email
            </p>
          </div>
            <div *ngIf="email1.errors?.['required']">
            <p style="color:red; left:16px ;" >
              *Email Required
            </p>
           
          </div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password"  name="password1" #password1="ngModel" [(ngModel)]="loginpage.value.password1" required>
          </mat-form-field>
          <div *ngIf="!password1?.valid || password1.errors?.['required']">
          
            <p style="color:red; left:16px ;" >
              *Password Required
            </p>

          </div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput placeholder="Confirm Password"  name="confirmpassword" #confirmpassword="ngModel" [(ngModel)]="loginpage.value.confirmpassword" required>
           
            </mat-form-field>
            <div *ngIf="password1.value != confirmpassword.value">
              <p style="color:red; left:16px ;" >
                *Passwords Do Not Match
              </p>

            </div>
            <mat-form-field appearance="fill">
              <mat-label>UserType</mat-label>
              <select matNativeControl  name="usertype" #usertype="ngModel" [(ngModel)]="loginpage.value.usertype" required>
                <option selected disabled>---Select User Type----</option>
                <option value="Insurer">Insurer</option>
                <option value="Broker">Broker</option>
                <option value="eyuser">EY User</option>
               
              </select>
            </mat-form-field>

          
          
            <button mat-button color="primary">Create User
          </button>
          
        </mat-tab>
        
      </mat-tab-group>
    </mat-card-content>
    
  </mat-card>
</div>


</form>
