<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#Contract_ID</th>
            <th scope="col">TotalAssetValue</th>
            <th scope="col">Type Of Risk</th>
            <th scope="col">Contract Start Date</th>
            <th scope="col">Contract End Date</th>
            <th scope="col">Coverage %</th>
            <th scope="col"> S T A T U S </th>
            <th scope="col"> Comments </th>
            <th scope="col"> Premium ($/Month) </th>
            <th scope="col"> AssuredSumOnRisk </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of contracts">
            
            <th scope="row">{{item.contractId}}</th>
            <td>{{item.totalAssetValue}}</td>
            <td>{{item.typeOfRisk}}</td>
            <td>{{item.contractStartDate}}</td>
            <td>{{item.contractEndDate}}</td>
            <td>{{item.coveragePercentage}}</td>
            <!-- <ng-container *ngIf="item.contracrStatus == 'To Insurer' "> -->
            <td><input type="text" [(ngModel)]="item.contracrStatus" placeholder="Accept , Reject , Hold"/></td>  
            <td><input type="text" [(ngModel)]="item.insurerComments" placeholder="Comments"/></td>
            <td><input type="number" [(ngModel)]="item.monthlyPremium" placeholder="Premium($)"/></td>
            <td> <input type="number" [(ngModel)]="item.assuredSum" placeholder="Assurance Value"/></td>
            <td> <button type="button" class="btn btn-outline-info" (click)="signContract(item.contractId , item.contracrStatus,item.insurerComments ,item.monthlyPremium ,item.assuredSum, item)">
                Send
             </button></td>
            <!-- </ng-container> -->
        </tr>
    </tbody>
</table>